/* EXTRA CSS */

body{
     background-color: rgba(240,240,240,1);
}

.wrapper{
     position: relative;
}

.main{
     min-height:85%;
     padding-bottom:1rem;
     box-sizing:border-box;
}
@media (max-width: 650px) {
     .main{
          min-height:65%;
          padding-bottom:1rem;
          box-sizing:border-box;
     }
}
.footer {
     left: 0;
     width: 100%;
     padding:  2rem 0 8rem 0px !important;
}

img.image-style{
     width: auto;
     max-width: 100%;
     height: auto;
     max-height: 25rem;
}

#logo-D img{
     width: 7rem;
     margin: 0 1rem;
}
.logo-M{
     align-self: center;
     margin: auto;
     width: 7rem;
}

a#mobile_item.user-M{
     margin-left: 0 !important;
}

div.message-margin.ui.container{
     margin: 1rem;
}

.CIPetrol{
     background-color: rgba(17, 147, 178,1) !important;
     color: rgba(255,255,255,1) !important;}
.CIRed{
     background-color:  rgba(254,31,62,1) !important;
     color: rgba(255,255,255,1) !important;}
.CIYellow{
     background-color:  rgba(255,197,25,1) !important;
     color: rgba(42,42,42,1) !important;}
.CIWhite{
     background-color:  rgba(255,255,255,1) !important;
     color: rgba(42,42,42,1) !important;}
.CIBlack{
     background-color:  rgba(42,42,42,1) !important;
     color: rgba(255,255,255,1) !important;}

div.heightMenu{
     height: 4.572rem !important;
}
/*---------------------------------*/
/* Backoffice */
.svgBox{
     display: flex;
     background-color: rgba(42,42,42,1);
     justify-content: center;
     height: 65%;
}
.svgStyling{
     height: 80%;
     margin: auto auto;
     padding: 2rem;
}

/*---------------------------------*/
/* USER PAGE */
.marginUp{
     margin-top: 2rem !important;
}
.emailField{
     border: 1px solid rgba(42,42,42,1) !important;
     border-radius: 0.3rem;
     padding: 0.6rem;
}

/*---------------------------------*/
/* PL Liste */
div.ui.grid.ObjectBox{
     background-color: rgba(220,220,220,1);
     margin: 3rem 0;
}
.eight.wide.computer.eight.wide.tablet.column.paddingObjectData{
     padding: 2rem;
}
.eight.wide.computer.sixteen.wide.mobile.eight.wide.tablet.column.paddingObjectData.centerPic{
     display: flex;
     justify-content: center;
     align-items: center;
}
div.eight.wide.column.objectInfosCentered{
     display: flex;
     flex-direction: column;
     justify-content: center;
}
a.headerStyleDroneInfos{
     text-transform: uppercase;
     font-size: 3rem;
     font-weight: 600;
     line-height: 3rem;
     color: rgba(42,42,42,1);
}
span.brandStyleObjectInfos{
     font-weight: 100;
}
span.cameraLabel a{
     font-size: 1.5rem;
     color: rgba(42,42,42,1);
     padding: 0 0.2rem;
}
div.camerasDroneInfos{
     display: flex;
    padding: 1rem 0 1.3rem 0;
}
div.labelBoxObjectInfos{
     color: rgba(42,42,42,1);
     padding: 0 0 1.5rem 0;
}
span.labelStyle{
     font-weight: 100;
     font-size: 1.1rem;
     color: rgba(42,42,42,1);
     margin: 0.2rem 0.1rem;
}
/*------------------------------------------------*/
/*ADS styles*/
div.ui.grid.infoBoxObjectADS{
     background-image: radial-gradient(rgb(210,210,210),rgb(220,220,220), rgb(230,230,230), rgb(240,240,240), rgb(240,240,240));
     margin-top: 6rem !important;
     margin-bottom: 4rem;
}
.objectName{
     color: rgba(42,42,42,1);
     font-size: 3rem;
     display: flex;
     justify-content: center;
     align-items: center;
     line-height: 3rem;
     flex-wrap: wrap;
     padding-bottom: 1.5rem;

}
.nameObjectStyle{
     padding: 0 1rem;
     text-transform: uppercase;
     font-weight: bold;
     text-align: center;
}
.cameraLabelADS{
     cursor: pointer;
     color: rgba(42,42,42,1);
     padding: 0.5rem;
}
.cameraLabelADS:hover{
     color: rgba(255,197,25, 1) !important;
}
.camerasDroneInfosADS{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     color: rgba(42,42,42,1);
     font-size: 2rem;
     line-height: 1.5rem;
}
.categoryDroneInfosADS{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     color: rgba(42,42,42,1);
}
.categoryLabelDroneInfosADS{
     background-color: #FFC519;
     color: rgba(42,42,42,1);
     border-radius: 0.5rem;
     font-weight: bold;
     padding: 0.6rem 1rem;
     margin: 0.3rem;
}
.objectImage img{
     width: 100%;
}
div.aligned.centered.column.infoBoxADS{
     display: flex;
     flex-direction: column;
     justify-content: center;
}
div.subtitleCamerasDronesADS{
     font-size: 1.3rem;
     text-align: center;
     color: rgba(42,42,42,1);
}
div.textFormat p, div.textFormat ul li{
     color: rgba(42,42,42,1);
}
/*---------------------------------------------------------------*/

/*  Homepage  */
a.buttonOnTeaserSettings{
     display: flex !important;
     flex-direction: column !important;;
     position: relative !important;;
     align-items: center !important;;
     justify-content: flex-end !important;;
}
div.buttonOnTeaser{
     position: absolute !important;;
     padding: 1rem !important;
}
div.paddingTopDown,
 a.paddingTopDown,
 img.paddingTopDown{
      padding: 1.5rem 0;
      display: block;
 }

div.flexTeaser{
     display: flex !important;
     flex-direction: column;
     justify-content: space-between;
}
/*---------------------------------------------------------------*/

#content{
     min-height: 100px;
}

.ui.grid{
     padding: 0 !important;
}

.pushable.segment{
     margin: 0 !important;
}
/* Object Detail page*/
.objectDetailThumb{
     width:  6rem;
}
.editObjectDetailThumb{
     width:  16rem;
}
.widthTextTable{
    width: 7rem;
}

/* footer */
div.ui.inverted.vertical.footer.segment.marginTop{
     margin-top: 2rem;
}
/*---------------------------------------------------------------*/

/* hide Tiny MCE Ads*/
span.tox-statusbar__branding{
     display: none;
}

div.ui.label.proplist{
     margin-bottom: .14285714em;
     margin-top: .14285714em;
}

/*------------------------------------------------------------------*/
@media (max-width: 415px) {
     .objectName{
          font-size: 2.3rem;
          line-height: 2.3rem;
     }
}
@media (max-width: 767px) {
     div.sixteen.wide.mobile.column.objectInfosCentered{
          align-items: center !important;
     }
     div.labelBoxObjectInfos,
     a.headerStyleDroneInfos,
     div.camerasDroneInfos{
          text-align: center;
     }
}
@media (max-width: 550px) {
     :root{
          font-size: 9pt ;
     }
     .eight.wide.computer.eight.wide.tablet.column.paddingObjectData{
          padding: 1.5rem;
     }
     img.image-style{
          max-height: 20rem;
     }
     div.ui.grid.ObjectBox {
          display: flex;
          flex-direction: column-reverse;
     }
     div.sixteen.wide.mobile.column.objectInfosCentered{
         align-items: center !important;
     }
     div.labelBoxObjectInfos,
     a.headerStyleDroneInfos,
     div.camerasDroneInfos{
          text-align: center;
     }
     .camerasDroneInfosADS{
          flex-wrap: wrap;
     }
     .cameraLabelADS{
          font-size: 1.5rem;
          padding: 0.2rem 0.5rem ;
     }
}